.container{
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.airbnb{
    background: #fff;
    width: 630px;
    height: 853px;
    border-radius: 10px;
    overflow: hidden;
}
header{
    width: 100%;
    height: 70px;
    box-shadow: 0 5px 7px  #eee;
}
header img{
    margin: 22px 30px;
    cursor: pointer;
}
.gallery {
    margin: 45px auto 25px;
    width: 420px;
    height: 232px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-self: center; */
}
.gallery img {
    margin-bottom: 16px;
}
.title {
    margin-left: 36px;
}
.title h1 {
    font-size: 36px;
    margin-bottom: 15px;
}
.title p {
    color: #222;
    font-weight: lighter;
    width: 300px;
}
.main {
    display: flex;
    margin: 36px;
    justify-content: space-between;
}

.image{
    position: relative;
}
.image span{
    position: absolute;
    left: 10px;
    top: 10px;
    background: #fff;
    color: #222;
    width: 61px;
    text-transform: uppercase;
    font-size: 10.24px;
    border-radius: 3px;
    padding: 5px 0;
    text-align: center;
}
.card .image img {
    width: 176px;
    height: 235px;
}

.details {
    width: 176px;
    height: 58px;
}
.details img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.details span  {
    font-size: 12px;
    color: #918E9B;
}
.details span b{
    color: #222;
}
.details h5{
    font-size: 12px;
    color: #222;
    margin: 4px 0;
}
.details p {
    font-size: 12px;
    color: #222;
}