.containerPage{
    background: #23252C;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.page-1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 317px;
    height: 780px;
  }
  .container{
    background: #1A1B21;
    margin: -5px 0;
    padding: 25px 0;
    width: 317px;
  }
  .intro{
    text-align: center;
    width: 247px;
    margin: 0 auto;
  }
  .intro h1{
    color: #fff;
    font-size: 25px;
    margin: 5px 0;
  }
  .intro p {
    font-size: 12.8px;
    color: #F3BF99;
  }
  .intro span {
    font-size: 10.24px;
    color: #F5F5F5;
  }
  .intro .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .intro .btns button{
    width: 115px;
    height: 34px;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    outline: unset;
    border: unset;
    border-radius: 7px;
  }
  .intro .btns button:first-child{
    background: #fff;
    color: #374151;
  }
  .intro .btns button:first-child span{
    color: #374151;
    margin-left: 10px;
    font-weight: 600;
  }
  .intro .btns button:first-child img,
  .intro .btns button:last-child img {
    width: 12px;
  }
  .intro .btns button:last-child {
    background: #5093E2;
    color: #fff;
  }
  .intro .btns button:last-child span{
    margin-left: 10px;
    font-weight: 600;
  }
  
  .main {
    width: 247px;
    margin: 0 auto;
    padding: 10px 0;
  }
  .main div {
    margin-bottom: 15px;
  }
  .main p{
    color: #DCDCDC;
    font-size: 10.24px;
    line-height: 1.3;
  }
  .main h2{
    color: #fff;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .footer{
    background: #161619;
    color: #918E9B;
    width: 317px;
    height: 64px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer img{
    width: 25px;
    height: 25px;
    margin: 0 15px;
    cursor: pointer;
  }