.page{
    background: #212121;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;
    /* width: 600px; */
    background-color: #206ce6;
    color: white;
    margin: 0;
    padding: 2rem;
}

button {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 16px;
    cursor: pointer;
}

h1 {
    text-align: center;
}